body {
    margin: 0;
    padding: 0;
}

.header {
    padding: 25.5px;
    margin: 0 auto;
    text-align: center;
}

.header_nav {
    margin: 0 auto;
    padding: 0;

    display: inline-block;
    list-style: none;

    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
}

.header_nav_list_item {
    display: inline-block;
    margin: 0 36px;

}
.header_nav_list_item.last_item {
    margin-left: 14px;
}

.header_nav_list_item .nav_list_item_link {
    color: #FF0000;
    text-decoration: none;
}



.banner_img {
    width: 100%;
    display: block;
}

.content {
    padding: 49px 67.5px 42px;
}

.content_title {
    max-width: 774px;
    margin: 0 auto;

    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    font-weight: bold;
    text-transform: uppercase;
}

.content_text {
    margin: 0;
    padding: 0;

    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
}

.content_title + .content_text {
    margin-top: 38px;
}

 .content_text + .content_text {
    margin-top: 28px;
}

.content_action {
    display: block;
    text-transform: uppercase;
    background: #FF0000;
    border-radius: 4px;
    border: 0;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    color: #FFFFFF;
    padding: 18px 43.5px 17px 42.5px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.content_title + .content_action {
    margin-top: 38px;
}

.content_text + .content_action {
    margin-top: 66px;
}

.footer {
    text-align: right;
    padding: 40px 105px 29px;
}

.footer_copyright {
    display: inline-block;

    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
}